*.log
*.DS_Store
wp-config.php
wp-content/mu-plugins/

/.htaccess
/license.txt
/readme.html
/README.md
/sitemap.xml
/sitemap.xml.gz

wp-content/themes/wp-gulp/node_modules
wp-content/themes/wp-gulp/config-ftp.json
wp-content/themes/wp-gulp/package-lock.json
wp-content/themes/codeq/main.css
wp-content/themes/codeq/dist/js/*
wp-content/themes/codeq/dist/css/*
wp-content/themes/codeq/atf.php